---
import "../styles/globals.css";
export interface Props {
  title: string;
  description: string;
  ogImage?: URL;
  url?: URL;
}

const {
  title,
  description,
  ogImage = new URL("/meta/og.jpg", Astro.url),
} = Astro.props;

const pathname = Astro.url.pathname;

const url =
  pathname[pathname.length - 1] === "/"
    ? new URL(pathname.slice(0, pathname.length - 1), Astro.site)
    : new URL(Astro.url.pathname, Astro.site);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="author" content="Judit Lázaro Moyano" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta content="@v_karamazov" name="twitter:site" />
    <meta content="@v_karamazov" name="twitter:creator" />
    <meta
      content={description}
      name="twitter:description"
      property="og:description"
    />
    <meta content={url} property="og:url" />
    <meta content={url} property="twitter:url" />
    <meta content={title} name="twitter:title" property="og:title" />
    <meta content={ogImage} property="og:image" />
    <meta content={ogImage} name="twitter:image" />
    <link rel="canonical" href={url} />
    <link
      rel="preload"
      href="/fonts/outfit-v4-latin-regular.woff2"
      as="font"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/fonts/outfit-v4-latin-500.woff2"
      as="font"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/fonts/outfit-v4-latin-700.woff2"
      as="font"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/fonts/outfit-v4-latin-900.woff2"
      as="font"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/fonts/paytone-one-v16-latin-regular.woff2"
      as="font"
      crossorigin="anonymous"
    />

    <link
      rel="preload"
      href="/fonts/firacode-regular.woff2"
      as="font"
      crossorigin="anonymous"
    />

    <script
      defer
      src="/stats/js/script.js"
      data-domain="javascripted.vercel.app"
    ></script>
  </head>
  <body>
    <slot />
  </body>
</html>
